.navigation {
  position: fixed;
  z-index: 4;
  width: 100%;
}

.navigation-tablet-background {
  background: rgba(0 0 0 / 6%);
  backdrop-filter: blur(10px);
}

.navigation__opened {
  height: 100%;
  background: rgba(0 0 0 / 6%);
  backdrop-filter: blur(20px);
  transition: all 0.3 ease-in-out;
}

.navigation__buttons {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.navigation__button {
  background: none;
  border: none;
}

.navigation__block {
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 40%;
}

.navigation__list {
  padding: 0;
  text-align: center;
  list-style: none;
}

.navigation__item {
  margin-bottom: 36px;
}

.navigation__link {
  color: white;
  font-size: 36px;
  text-decoration: none;
  text-shadow: 0 4px 4px rgba(0 0 0 / 35%);
}

.navigation__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.navigation__social-icon {
  margin-right: 11px;
}

.navigation__opened .button-open {
  display: none;
}

.button-close {
  display: none;
}

.navigation__opened .button-close {
  display: inherit;
}

.navigation__opened .navigation__block {
  display: flex;
}

@media (min-width: $table-width) {
  .navigation__buttons {
    display: none;
  }

  .navigation__block {
    display: block;
    padding-top: 0;
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
  }

  .navigation__link {
    color: $text-color;
    font-weight: 200px;
    font-size: 24px;
    font-family: NotoSerifDisplay, "Times New Roman", Times, serif;
  }

  .social__item {
    display: none;
  }

  .footer__contacts {
    display: block;
  }

  .navigation__item {
    margin-bottom: 0;
  }
}
