.about {
  padding: 60px 0;
  padding-bottom: 90px;
  background-image: url("../img/decoration-lines-mobile-1.png"), url("../img/decoration-lines-mobile-2.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
}

.about__title {
  font-weight: 200;
  font-size: 36px;
  text-align: center;
}

.text-color-decor {
  color: $button-color;
}

.about__content {
  z-index: 2;
  padding: 16px;
  background: rgba(255 255 255 / 05%);
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(255 255 255 / 90%);
  backdrop-filter: blur(15px);
}

.about__text {
  z-index: 3;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-indent: 16px;
  text-shadow: 0 4px 5px rgba(0 0 0 / 4%);
}
