.about {
  padding: 60px 0;
  padding-bottom: 90px;
  background-image: url("../img/decoration-lines-mobile-1.png"), url("../img/decoration-lines-mobile-2.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 100%;
}

.text-color-decor {
  color: $button-color;
}

.about__content {
  z-index: 2;
  padding: 16px;
  background: rgba(255 255 255 / 05%);
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(255 255 255 / 90%);
  backdrop-filter: blur(15px);
}

.about__text {
  z-index: 3;
  font-weight: 400;
  font-size: 16px;
  font-family: NotoSerif, "Times New Roman", Times, serif;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-indent: 16px;
  text-shadow: 0 4px 5px rgba(0 0 0 / 4%);
}

@media (min-width: $table-width) {
  .about {
    padding: 100px 0;
    padding-bottom: 130px;
    background-image: url("../img/decoration-lines-tablet-1.png"), url("../img/decoration-lines-tablet-2.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 80%;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 200px;
    background-image: url("../img/decoration-lines-desktop-1.png"), url("../img/decoration-lines-desktop-2.png");
    background-repeat: no-repeat;
    background-position: top right, bottom right;
    background-size: 85%;
  }

  .about__title {
    margin-bottom: 120px;
    visibility: hidden;
  }

  .about__grid {
    display: grid;
    grid-template-columns: 823px;
    align-items: center;
    justify-content: flex-end;
  }

  .tariffs__title {
    visibility: hidden;
  }
}

@media (min-width: 1366px) {
  .about {
    margin-top: 50px;
    padding-top: 50px;
    background-size: 65%;
  }
}
