section.about
  .container
    .about__grid.wow.fadeInDown
      h2.about__title.section-title#about-title О курсе
      .about__content.wow.fadeInDown
        p.about__text
          | <span class="text-color-decor">Привет!</span> Я - Нико, финалист и хореограф проекта «Танцы на ТНТ», победитель таких чемнионатов, как «Frame up», «Fame Your Choreo», «Project818».  Я танцую high heels и strip plastic со времён, когда доллар стоил 27 рублей, так что, можно сказать - о каблуках я знаю все!
        p.about__text
          | <span class="text-color-decor">«Ladies by Niko»</span>
          | - авторский курс, созданный мной для тех, кто хочет узнать себя с новой стороны, почувствовать себя уверенней
          | и сделать шаг навстречу своей сексуальности. А так как на этом курсе мы будем учить хореографии в стиле high heels, шаг этот мы будем делать исключительно на каблуках. Будет нелегко, но невероятно увлекательно!
        p.about__text Ах, да, на курсе мы будем много смеяться. Ведь я не могу без юмора :)
