@font-face {
  font-weight: 400;
  font-family: NotoSerif;
  font-style: normal;
  src: url("../fonts/NotoSerif.woff2"), url("../fonts/NotoSerif.woff"), url("../fonts/NotoSerif.ttf");
}

@font-face {
  font-weight: 700;
  font-family: NotoSerif;
  font-style: normal;
  src: url("../fonts/NotoSerifBold.woff2"), url("../fonts/NotoSerifBold.woff"), url("../fonts/NotoSerifBold.ttf");
}

@font-face {
  font-weight: 200;
  font-family: NotoSerifDisplay;
  font-style: normal;
  src: url("../fonts/NotoSerifDisplay-Regular.woff2"), url("../fonts/NotoSerifDisplay-Regular.woff"), url("../fonts/NotoSerifDisplay-Regular.ttf");
}
