extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Ladies by Niko'; //- Title
  - var bodyClass = 'index-page' //- Классы для body

block content
    img(class="logo", id="logo" src="img/logo.svg", alt="Логотип")
    include ../blocks/navigation/navigation.pug
block main
  main
    include ../blocks/first-screen/first-screen.pug
    include ../blocks/about/about.pug
    include ../blocks/tariffs/tariffs.pug
    include ../blocks/contacts/contacts.pug
