section.first-screen
  .photo-scroll#photo-scroll
    <picture>
      <source srcset="img/photo/photo-main.webp" type="image/webp">
      <source srcset="img/photo/photo-main.png" type="image/png">
      <img class="photo-main", src="img/photo/photo-main.png", alt="Фото" data-scroll-speed="1">
    </picture>
    h1.visually-hidden Ladies by Niko авторский курс хореографии в стиле high heels
  .button-block
      <div class="button">
        <a href="#">
          Often Купить
        <span class="shift"></span>
        </a>
        <div class="mask"></div>
      </div>
