section.first-screen
  .photo-scroll.wow.fadeInRight#photo-scroll
    <picture>
      <source srcset="img/photo/photo-main-x2.png x2" type="image/png">
      <source srcset="img/photo/photo-main.webp" type="image/webp">
      <source srcset="img/photo/photo-main.png" type="image/png">
      <img class="photo-main", src="img/photo/photo-main.png", alt="Фото" data-scroll-speed="1">
    </picture>
    <picture>
      <img class="photo-main-desktop", src="img/photo/photo-main-desktop.png", alt="Фото">
    </picture>
    h1.visually-hidden Ladies by Niko авторский курс хореографии в стиле high heels
  .container
    .button-block.wow.fadeInLeft
      <a class="button first-screen-button scrollto" href="#tariffs__title">Купить<div class="mask"></div></a>
