.contacts {
  padding: 36px 0;
}

.footer__contacts {
  margin: 0;
  padding-bottom: 20px;
}

.copyright-block {
  color: $text-color;
  font-family: NotoSerifDisplay, "Times New Roman", Times, serif;
}

.copyright {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.docs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.docs-item {
  margin-bottom: 6px;
  text-align: center;
}

.contacts-inn {
  line-height: 20px;
}

.docs-item a {
  color: $text-color;
  font-size: 12px;
}

.docs-item p {
  margin: 0;
  font-size: 12px;
}

.tel-link {
  text-decoration: none;
}

.contacts .navigation__item {
  z-index: 3;
  margin-right: 24px;
  margin-bottom: 24px;
}

.contacts .navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contacts .navigation__link {
  color: $text-color;
  font-size: 16px;
}

.contacts .navigation__social-icon {
  width: 20px;
}

.qr-code {
  display: none;
}

@media (max-width: $mobile-width) {
  .contacts .navigation__item {
    margin-right: 16px;
  }
}

@media (min-width: $table-width) {
  .qr-code {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    background-image: url("../img/decoration-lines-desktop-contacts.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 55%;
  }

  .contacts__content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 317px auto 317px;
    justify-content: space-between;
  }

  .social-links-block {
    grid-column: 2 / 3;
  }

  .contacts .navigation__link {
    font-size: 36px;
  }

  .copyright-block {
    grid-column: 1 / 2;
  }

  .docs-item {
    text-align: left;
  }

  .copyright {
    text-align: left;
  }

  .qr-code {
    display: block;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    text-align: center;
  }
}

@media (min-width: 1367px) {
  .social-links-block {
    padding-bottom: 20px;
  }

  .copyright-block {
    grid-column: 1 / 2;
  }

  .docs-item {
    text-align: left;
  }

  .copyright {
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .contacts {
    background-size: 45%;
  }
}
