.contacts {
  padding-bottom: 40px;
}

.copyright-block {
  color: $text-color;
  font-family: NotoSerifDisplay, "Times New Roman", Times, serif;
}

.copyright {
  font-size: 16px;
  text-align: center;
}

.docs-list {
  padding: 0;
  list-style: none;
}

.docs-item {
  margin-bottom: 16px;
  text-align: center;
}

.docs-item a {
  color: $text-color;
  font-size: 16px;
}

.contacts .navigation__item {
  margin-bottom: 24px;
}
