section.tariffs
  .container
    .tariffs__grid.wow.fadeInDown
      h2.tariffs__title.section-title#tariffs__title Тарифы
      .tariffs__content#tariffs-content
        .tariffs-card#tariffs-card__1
          .tariffs-card__content
            .tariffs-card__head(onclick="tarrifCardOne()")
              h3.tariffs-card__title Silver
                <svg class="tariffs-card__arrow-icon" width="15" height="22" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 11.0005L0 0.500488L8.87201 11.0005L0 21.5005L15 11.0005Z" fill="#C4C4C4"/>
                </svg>
            ul.tariffs-card__list
              li ● 7 хореографий <br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span>с полным<br class="in-tablet-hide"> разбором
              li ● Доступ <br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span>к материалам<br> &nbsp; &nbsp; на 4 недели
            p.tariffs-card__price <span id="silverCardPrice">3 500 ₽</span>
            .button-block
              <a class="button scrollto" href="https://forms.gle/Dd7eDBd6E7FBk7jq5" target="_blank">Купить<div class="mask"></div></a>
        .tariffs-card#tariffs-card__2
          .tariffs-card__content
            .tariffs-card__head(onclick="tarrifCardTwo()")
              h3.tariffs-card__title Gold
                <svg class="tariffs-card__arrow-icon" width="15" height="22" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 11.0005L0 0.500488L8.87201 11.0005L0 21.5005L15 11.0005Z" fill="#C4C4C4"/>
                </svg>
            ul.tariffs-card__list
              li ● 7 хореографий <br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span>с полным<br class="in-tablet-hide"> разбором
              li ● Доступ <br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span>к материалам<br> &nbsp; &nbsp; на 6 недель
              li ● Бонусный<br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span> онлайн-урок
              li ● Общий чат
              li ● Отзывы<br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span> и поддержка<br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span> куратора
            p.tariffs-card__price <span id="goldCardPrice">5 500 ₽</span>
            .button-block
              <a class="button scrollto" href="https://forms.gle/Dd7eDBd6E7FBk7jq5" target="_blank">Купить<div class="mask"></div></a>
        .tariffs-card#tariffs-card__3
          .tariffs-card__content
            .tariffs-card__head(onclick="tarrifCardTree()")
              h3.tariffs-card__title Diamond
                <svg class="tariffs-card__arrow-icon" width="15" height="22" viewBox="0 0 15 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 11.0005L0 0.500488L8.87201 11.0005L0 21.5005L15 11.0005Z" fill="#C4C4C4"/>
                </svg>
            ul.tariffs-card__list
              li ● 7 хореографий <br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span>с полным<br class="in-tablet-hide"> разбором
              li ● Доступ <br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span>к материалам<br> &nbsp; &nbsp; на 10 недель
              li ● Бонусный<br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span> онлайн-урок
              li ● Отдельный чат<br class="in-tablet-view"><span class="in-tablet-view">&nbsp;</span> с Нико
              li ● Занятие с Нико<br> &nbsp;&nbsp;&nbsp;(онлайн<br class="in-tablet-view"><span class="in-tablet-view">&nbsp;&nbsp;</span> или оффлайн<br class="in-tablet-view"><span class="in-tablet-view">&nbsp;&nbsp;</span> на выбор)
            p.tariffs-card__price 40 000 ₽
            .button-block
                <a class="button scrollto" href="https://forms.gle/Dd7eDBd6E7FBk7jq5" target="_blank">Купить<div class="mask"></div></a>
