@import "variables";
@import "fonts/NotoSerif.scss";
@import "blocks/navigation/navigation.scss";
@import "blocks/first-screen/first-screen.scss";
@import "blocks/about/about.scss";
@import "blocks/tariffs/tariffs.scss";
@import "blocks/contacts/contacts.scss";
@import "blocks/button/button.scss";

body {
  color: $text-color;
  background: url("../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.section-title {
  font-weight: 200;
  font-size: 36px;
  font-family: NotoSerifDisplay, "Times New Roman", Times, serif;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  clip: rect(0 0 0 0);
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-block {
  position: relative;
}

.logo {
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 2;
  width: 80%;
}

.logo-fixed {
  position: fixed;
  z-index: 5;
}

@media (max-width: $mobile-width) {
  .contacts-link {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: url("../img/background-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-block {
    position: relative;
  }

  .logo {
    position: inherit;
    top: 40px;
    left: 0;
    z-index: 2;
    width: 610px;
  }
}
