@import "variables";
@import "fonts/NotoSerif.scss";
@import "blocks/navigation/navigation.scss";
@import "blocks/button/button.scss";
@import "blocks/first-screen/first-screen.scss";
@import "blocks/about/about.scss";
@import "blocks/tariffs/tariffs.scss";

body {
  position: relative;
  color: $text-color;
  background: url("../img/background-mobile.jpg");
  background-position: top center;
  background-size: auto;
}

.section-title {
  font-weight: 200;
  font-size: 36px;
  font-family: NotoSerifDisplay, "Times New Roman", Times, serif;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  clip: rect(0 0 0 0);
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: $mobile-width) {
  .contacts-link {
    display: none;
  }
}
