$background-color: #eee;
$button-color: #dfb53f;

$text-color: #c4c4c4;
$text-color-dark: #283136;
$text-color-light: #fff;

$full-hd-width: 1920px;
$mac-desktop-width: 1440px;
$desktop-width: 1240px;
$table-width: 768px;
$mobile-width: 650px;
